[submodule "extinclude/entityx-repo"]
	path = extinclude/entityx-repo
	url = git://github.com/Bablawn3d5/entityx.git
[submodule "extinclude/SFML-Repo"]
	path = extinclude/SFML-Repo
	url = git://github.com/Bablawn3d5/SFML.git
[submodule "extinclude/Box2D-repo"]
	path = extinclude/Box2D-repo
	url = git://github.com/Bablawn3d5/Box2D.git
[submodule "extinclude/jsoncpp-repo"]
	path = extinclude/jsoncpp-repo
	url = https://github.com/Bablawn3d5/jsoncpp.git
[submodule "extinclude/Thor"]
	path = extinclude/Thor
	url = git://github.com/Bablawn3d5/Thor.git
[submodule "extinclude/Python27Lib-Repo"]
	path = extinclude/Python27Lib-Repo
	url = https://github.com/Bablawn3d5/Python27StandardLib-minimal.git
[submodule "extinclude/imgui-sfml-repo"]
	path = extinclude/imgui-amalgamate/imgui-sfml-repo
	url = git://github.com/Bablawn3d5/imgui-sfml.git
[submodule "extinclude/imgui-repo"]
	path = extinclude/imgui-amalgamate/imgui-repo
	url = git://github.com/Bablawn3d5/imgui.git
[submodule "extinclude/MetaStuff-repo"]
	path = extinclude/MetaStuff-repo
	url = https://github.com/Bablawn3d5/MetaStuff.git
[submodule "extinclude/AsepriteToSFMLImage"]
	path = extinclude/AsepriteToSFMLImage
	url = https://github.com/Bablawn3d5/AsepriteToSFMLImage.git
[submodule "extinclude/entityx_pybind11-repo"]
	path = extinclude/entityx_pybind11-repo
	url = https://github.com/Bablawn3d5/entityx_pybind11.git
