branches:
  only:
    - master

sudo: false
language: cpp
compiler:
  - clang
  - gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.5
    packages:
      # Needed by SFML
      - libpthread-stubs0-dev
      - libgl1-mesa-dev
      - libx11-dev
      - libx11-xcb-dev
      - libxcb-image0-dev
      - libxrandr-dev
      - libxcb-randr0-dev
      - libudev-dev
      - libfreetype6-dev
      - libglew-dev
      - libjpeg8-dev
      - libgpgme11-dev
      - libsndfile1-dev
      - libopenal-dev
      - libjpeg62
      - libstdc++-4.8-dev
      - gcc-4.9
      - g++-4.9
      - clang-3.5

# Disable caching due to 'unused argument' clang bug
cache:
  bundler: false
  apt: true

# This so travis stops complaining about 'private' repos when you've checked out
# the repository using ssh keys for convenience.
# disable the default submodule logic
git:
  submodules: false

before_install:
  # use sed to replace the SSH URL with the public URL, then init and update submodules
  - sed -i 's/git@github.com:/git:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  # Install g++ and gcc 4.8 for better C++11 support
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9" CC="gcc-4.9"; fi
  # Clang 3.5 due to C++11 and gcc-4.9 conflicts.
  - if [ "$CXX" == "clang++" ]; then export CXX="clang++-3.5" CC="clang-3.5"; fi

install:
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir ${DEPS_DIR} && cd ${DEPS_DIR}
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    else
      brew install cmake
    fi

  - which cmake
  - cmake --version

before_script:
  # cd back to build dir before trying to run scripts
  - cd ${TRAVIS_BUILD_DIR}

script: ./scripts/travis.sh
