language: cpp
compiler:
  - clang
  - gcc

sudo: true

# This so travis stops complaining about 'private' repos when you've checked out
# the repository using ssh keys for convenience.
# disable the default submodule logic
git:
  submodules: false

before_install:
 # use sed to replace the SSH URL with the public URL, then init and update submodules
 - sed -i 's/git@github.com:/git:\/\/github.com\//' .gitmodules
 - git submodule update --init --recursive
 # Install cmake
 - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    else
      brew install cmake
    fi
 - which cmake
 - cmake --version

script: ./scripts/travis.sh
